//---------------------------------------------------
// animation
//---------------------------------------------------
@keyframes topbar-deco {
    from {
        opacity: 1
    }

    to {
        opacity: 0.9
    }
}

@keyframes neonsign {
    from {
        opacity: 0.7
    }

    10% {
        opacity: 1
    }

    30% {
        opacity: 0.7
    }

    to {
        opacity: 1
    }
}

@keyframes neonsign2 {
    from {
        opacity: 0.3
    }

    10% {
        opacity: 1
    }

    30% {
        opacity: 0.6
    }

    to {
        opacity: 1
    }
}

@keyframes neonsign3 {
    from {
        opacity: 0
    }

    10% {
        opacity: 1
    }

    30% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes spark {
    from {
        top:5%;
        left:5%;        
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@keyframes money {
    from {
        transform: translateY(2%)
    }

    to {
        transform: translateY(0)
    }
}

@keyframes amount {
    from {
        transform: scale(1)
    }

    to {
        transform: scale(1.1)
    }
}

@keyframes hand1 {
    from {
        transform: rotate(25deg)
    }

    to {
        transform: rotate(0deg)
    }
}

@keyframes hand2 {
    from {
        transform: rotate(-25deg)
    }

    to {
        transform: rotate(0deg)
    }
}

@keyframes coin-shower {
    from {

        transform: translateY(-200%)
    }

    to {
        transform: translateY(245%)
    }
}

@keyframes btn-slide-up {
    from {
        -webkit-transform: translate3d(0, 600%, 0);
        transform: translate3d(0, 600%, 0);
        visibility: visible
    }

    to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }
}

@keyframes popup-top {

    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    0% {
        -webkit-transform: translate3d(0, -3000px, 0);
        transform: translate3d(0, -3000px, 0)
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -30px, 0);
        transform: translate3d(0, -30px, 0)
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, -15px, 0);
        transform: translate3d(0, -15px, 0)
    }

    90% {
        -webkit-transform: translate3d(0, -4px, 0);
        transform: translate3d(0, -4px, 0)
    }
}

@keyframes popup-bottom {

    from,
    20%,
    53%,
    80%,
    to {
        -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0)
    }

    0% {
        -webkit-transform: translate3d(0, 3000px, 0);
        transform: translate3d(0, 3000px, 0)
    }

    40%,
    43% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, 30px, 0);
        transform: translate3d(0, 30px, 0)
    }

    70% {
        -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
        -webkit-transform: translate3d(0, 15px, 0);
        transform: translate3d(0, 15px, 0)
    }

    90% {
        -webkit-transform: translate3d(0, 4px, 0);
        transform: translate3d(0, 4px, 0)
    }
}

@keyframes btn-close {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}