@import 'effect-keyframes';

//---------------------------------------------------
// effect selector
//---------------------------------------------------
.topbar-deco {
    animation: topbar-deco 550ms alternate infinite;
}
//---------------------------------------------------
.effect-neon1 {
    animation: neonsign 1550ms infinite;
    animation-delay: 750ms
}

.effect-neon2-em {
    animation: neonsign2 450ms infinite;
    animation-delay: 750ms
}

.effect-neon2-em2 {
    animation: neonsign2 450ms infinite;
    animation-delay: 750ms
}

.share-sns:before {
    animation: neonsign 1450ms infinite;
    animation-delay: 750ms
}

//---------------------------------------------------
.effect-spark1 {
    opacity:0;
    animation: spark 450ms both;
    animation-delay: 350ms;
    transition-timing-function: ease
}

.effect-spark2 {
    opacity:0;
    animation: spark 450ms both;
    animation-delay: 400ms;
    transition-timing-function: ease-in
}

.effect-spark3 {
    opacity:0;
    animation: spark 450ms both;
    animation-delay: 450ms;
    transition-timing-function: ease-in
}

//---------------------------------------------------
.effect-money {
    animation: money 350ms infinite;
    animation-direction: alternate;
    transition-timing-function: ease-out
}

.effect-amount {
    animation: amount 350ms infinite;
    animation-direction: alternate
}

.effect-hand1 {
    animation: hand1 350ms infinite;
    animation-direction: alternate;
    transition-timing-function: ease-in-out
}

.effect-hand2 {
    animation: hand2 350ms infinite;
    animation-direction: alternate
}

//---------------------------------------------------
.effect-coin1 {
    transition-duration: 550ms
}

.effect-coin2 {
    transition-duration: 450ms
}

.effect-coin3 {
    transition-duration: 350ms
}

.effect-coin-shower {
    animation: coin-shower 950ms both
}

//---------------------------------------------------
.effect-btn-apply {
    animation: btn-slide-up 1000ms
}

.effect-btn-remittance {
    animation: btn-slide-up 1000ms
}

.btn-close {
    animation: btn-close 1000ms
}

//---------------------------------------------------
.effect-popup-top {
    transform: translate3d(0, -3000px, 0);
    animation: popup-top 1000ms both;
    animation-delay: 150ms;
}

.effect-popup-bottom {
    transform: translate3d(0, 3000px, 0);
    animation: popup-bottom 1000ms both;
    animation-delay: 150ms;
}