//---------------------------------------------------
// 반응형 반복 스타일(component)
//
// 구조
// component                --- 컴포넌트
// - component:before       --- 배경이미지가 되는 부분(:before 선택자로 넣음)
// - component-inner        --- 실제 컨텐츠가 들어가는 부분
//---------------------------------------------------

@mixin component {
  position: relative
}

// 
@mixin component-before {
  content: '';
  display: block
}

@mixin component-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}